.cart-header{
    background-color: #111111;  
}
.cart-header h6{
    /* padding: 10px ; */
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #ffa800;
    padding: 10px;
    letter-spacing: 2px;
    
}

.messange{
    min-height:40vh ;
}

.step-1{
    margin-top:50px ;
}
.step-1 h2,.step-2 h2{
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 5%;
}
.step-1 .form01 ,.step-2 .form01{
    border: 1px solid black;
    border-radius: 40px;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}

.step-1 form .form-control ,.step-1 form .custom-select,.step-2 form .form-control ,.step-2 form .custom-select{
    margin-top: 0;
    border-radius: 15px;
    /* text-align: center; */
}
.step-1 form .custom-select,.step-2 form .custom-select{
    text-align: center;
    /* padding-left: 40% ; */
}

.step-2 .recipient{
    display: flex;
    margin-top: 40px;
}
.step-2 .recipient .radio-text{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 10px;
}
.step-2 .recipient .radio-text label{
    font-size: 1rem;
}
.step-2 .form-control{
    margin: 0;
}

.radio-text label{
    font-size: 1.5rem ;
}
em{
    color:red;
}
.step-3{
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 35px;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.shap_list{
    width: 100%;
    padding-bottom: 50px;
}
.shap_list ul{
    display: flex;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid black;
    border-radius: 35px 35px 0 0;
    justify-content: space-around;
    margin-bottom: 50px;
}
.shap_list ul li{
    margin: 15px 0;
}
.shap_list_border{
    margin: 20px;
}

.shap_list_main {
    border: 1px solid black;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 5%;
    height: 100px;
}


.shap_list_main img{
    width: 85px;
    height: 85px;
}
.shap_list_main h4{
    width: 280px;
    overflow: hidden;
    color: #8e8e8e;
    margin-left: 20px;
    text-align: center;
}
.shap_list_main h5{
    width: 150px;
}
.shap_list_main .count_box{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 40px;
}
.shap_list_main .count_box div{
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.shap_list_main .count{
    width: 60px;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.shap_list_main .money{
    display: flex;
    /* padding-left: 20px; */
    text-align: right;
    width: 20%;
}
.shap_list_main input{
    width: 150px;
    /* text-align: center; */
    border: none;
    padding: 0;
    margin: 0;
}
.shap_list_main p{
    font-weight: 800;
    margin: 0;
}
.add_shop{
    width: 250px;
    border-radius: 35px;
    background-color: #3e3e3e;
    color: #fff;
    text-align: center;
    margin-left: 2%;
}
.add_shop_only {
    width: 70%;
    border: 1px solid black;
    border-radius: 35px;
    padding:0 20px 20px 20px;
    text-align: center;
}
.add_shop_only .add_shop_only_text{
    background-color: #1c1c1c;
    border-radius: 35px;
    margin-left: -10px;
    width: 220px;
    color:white;
    text-align: center;
}
.add_shop_only .add_shop_only_once{
    width: 180px;
    text-align: center;
}
.add_shop_only .add_shop_only_once img{
    width: 85px;
    height: 85px;
}
.add_shop_only .add_shop_only_once a{
    letter-spacing: 5px;
    width: 150px;
    border-radius: 10px;
    background-color: #8e8e8e;
    margin: 0 auto;
    color: white;
    transition: .5s;
}
.add_shop_only .add_shop_only_once a:hover{
    background-color: #1c1c1c;
}

.total_price{
    width: 30%;
    border: 1px solid black;
    border-radius: 35px;
    box-shadow: 0 3px 6px black;
    margin-left: 20px;
    position: relative;
}

.total_price>div:nth-child(1){
    position: absolute;
    bottom: 40px;
    padding:0 0 0 20px;
    
}


.total_price .sm_price p.text{
    width: 100px;
}

.total_price .sm_send p.text{
    width: 100px;
}
.total_price .sm_total p.text{
    width: 100px;
}

.total_price p.price{
    width: 100px;
    text-align: right;
}

.total_price>div:nth-child(2){
    border-top: 2px solid #ff3535;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding:0 0 0 20px;
}

@media screen and (max-width:1200px){
    .shap_list_main h4{
        width: 240px;
        font-size: 1.2rem;
    }
    .shap_list_main h5{
        width: 120px;
        font-size: 1rem;
    }
}

@media screen and (max-width:992px){
    .shap_list_main h4{
        margin-left: 0;
    }
    .shap_list_main .count_box{
        margin-right: 20px;
    }
    .shap_list_main .count{
        width: 30px;
    }
    .shap_list_main .count_box div{
       
        width: 30px;
        height: 30px;
    }
    .shap_list_main p{
        margin-right: -20px;
    }
    .total_price{
        width: 50%;
    }
}
@media screen and  (max-width:768px){
    .cart-header h6{
        justify-content: center;
        margin: 0 auto;
    }
    .step-1 .form01, .step-2 .form01{
        border: none;
        width: 100%;   
        padding: 0;
    }
    .step-2 .recipient h2{
        margin: 0;
    }
    .step-2 .recipient .radio-text{
        margin-bottom: 0;
    }
    .form01{
        text-align: left;
        padding: 0;
    }
}
@media screen and (max-width:576px){
    .address_box{
        margin-bottom: 20px !important;
    }
    .postcode{
        margin: 0 15px !important;
    }
    .address_text{
        padding-top: 0 !important;
        margin-right: 15px !important;
    }
}
.step-3-1 .shop_border{
    border: 1px solid black;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.step-3-1 h6{
    background-color: #3e3e3e;
    color: #fff;
    border-radius: 35px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}
.step-3-1 img{
    width: 85px;
    height: 85px;
    margin: 10px;
    
}
@media screen and (min-width:576px){
    .show_mobile{
        display: none;
    }
}
@media screen and (max-width:576px){
    .step-3{
        display: none;
    }
    .add_shop_only{
        margin-top: 30px;
        /* border:none; */
        width: 100%;
    }
    .step-3-1 h6{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 30px;
        align-items: center;
    }
    .add_shop_box{
        flex-wrap: wrap;
    }
    .total_price{
        width: 100%;
        height: 300px;
        margin-top: 20px;
        margin-left: 0;
  }
  .add_shop_only .add_shop_only_text{
        width: 70%;
        margin: 0 auto;
        font-size: 1rem;
    }
}
.step-4{
    margin-top: 100px;
    padding: 0 10%;
}
.step-4 div.title{
    margin-left: -5%;
    margin-bottom: 40px;
}

.step-4 .delivery-main{
    border: 3px solid black;
    border-radius: 25px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 10% ;
    margin-bottom: 40px;
}


.custom-control-input:checked~.custom-control-label::before{
    color: #fff;
    border-color: #ffa800;
    background-color: #ffa800;
}

.step-4 .p-time{
    display: flex;
    justify-content: flex-start;
    height: 200px;  
    position: relative;
}
.step-4 .house{
    display: flex;
    position: absolute;
    top: 15%;
}
.p-time .p-time-title{
    /* margin-right: 50px ; */
    font-size: 1.5rem ;
    width: 25%;
    text-align: left;
    
}

.step-4 .myself{
    position: absolute;
    top: 10%;
    width: 80%;
    display: none;
}
.step-4 .myself h5{
    text-align: left;
}
/* .step-4 .myself p{
    text-align: initial;
} */
.step-4 .myself figure{
    text-align: right;
}
.step-4 .family_711{
    width: 100%;
    display: none;
}
.step-4 .family_711 h5{
    text-align: left;
}
.step-4 .family_711 select{
    border-radius: 9px;
    margin:10px 0;
}
.step-4 .family_711 select.city{
    margin-right: 30px;
}
.step-4 .family_711 select option{
    text-align: center;
}
.step-4 .family_711 .custom-select{
    padding-left: 15% ;
}
.step-4 .family_711 .custom-select.city_3{
    text-align: center;
    padding-left: 40% ;
}
.p-time-area{
    text-align: left;
}
.step-4 em.send_time{
    width: 250px;
    font-size: 1rem;
    text-align: right;
    position: absolute;
    right: 10%;
}
.p-time .p-time-area div:nth-child(1),.p-time .p-time-area div:nth-child(2){
    width: 40%;
    
}
.p-time .p-time-area div:nth-child(3){
    width: 100%;
    margin-top: 1rem;
}


.step-4 div.title_1{
    margin-left: -3%;
    margin-bottom: 40px;
}



.pay-style{
    margin: 0 auto;
    width: 100%;

}
.pay-style .visa{
    border:2px solid #5d5d5d;
    width: 60%;
    border-radius: 10px;
    margin: 40px auto ;
    color:#707070 !important;
    cursor: pointer;
}
.pay-style .visa:hover{
    border:2px solid #FFC200;
    
}

.visa_card{
    display: none;
}




.pay-style_1{
    /* margin: 0 auto; */
    width: 100%;
    border: 3px solid black; 
    border-radius: 40px; 
    height: 200px;
    padding-left: 10%;
}
.pay-style_1 .radio-text{
    margin: 4%;
}
.pay-style_1 .radio-text .number{
    margin: 0 0 0 20px;
    border: 2px solid #8e8e8e;
    border-radius: 15px;
    padding: 0 0 0 20px;
    width: 40%; 
    display: none;
}

.personal{
    text-align: right;
    width: 100%;
    padding: 5% 0;
}
.end_btn{
    justify-content: flex-end;
}

@media screen and (max-width:992px){
    .radio-text label{
        font-size: 1rem;
    }
    .p-time .p-time-title{
        font-size: 1rem;
    }
}
@media screen and (max-width:576px){
    .step-4 .delivery-main{
        flex-direction: column;
        height: auto;
        flex-wrap: wrap;
        text-align: left;
        align-items: flex-start;
        padding: 0 7%;
    }
    .step-4 .delivery-main>div{
        margin: 5px 0;
    }
    .step-4 em{
        font-size: 0.8rem;

    }
    .step-4 .p-time{
        display: flex;
        justify-content: flex-start;
        height: 200px;  
        position: relative;
        margin: 0 -20px;
    }
    .p-time .p-time-area>div{
        margin: 5px 0;
    }
    .p-time .p-time-area div:nth-child(2) {
        width: 100%;
    }
    .p-time .p-time-area div:nth-child(3) {
        width: 100%;
        margin-top: 0;
    }
    .p-time .p-time-title {
        margin-right: 10px;
        
    }
    .step-4 .myself>p{
        color:#8e8e8e;
    } 
    .step-4 .myself figure {
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .step-4 .family_711 .custom-select {
        padding-left: 1%;
    }
    .step-4 .family_711 .custom-select.city_3 {
        text-align: center;
        padding-left: 30%;
    }
    .pay-style .visa {
        width: 100%;
        margin: 40px auto;
    }
    .pay-style .visa p{
        color:#8e8e8e;
        font-size: 0.8rem;
    }
    .pay-style_1 {
        height: auto;
        border-radius: 20px;
    }
    .personal {
        text-align: right;
        padding: 10%;
    }
    .end_btn{
        justify-content: center;
    }
}
