.cart-header{
    background-color: #111111;  
}
.cart-header h6{
    /* padding: 10px ; */
    display: flex;
    align-items: center;
    margin-right: 40px;
    color: #ffa800;
    padding: 10px;
    letter-spacing: 2px;
    
}

.messange{
    min-height:40vh ;
}

.step-1{
    margin-top:50px ;
}
.step-1 h2,.step-2 h2{
    font-size: 1.2rem;
    margin-right: 10px;
    margin-left: 5%;
}
.step-1 form ,.step-2 form{
    border: 1px solid black;
    border-radius: 40px;
    padding: 30px;
    width: 80%;
    margin: 0 auto;
}
.step-1 form .form-control ,.step-1 form .custom-select,.step-2 form .form-control ,.step-2 form .custom-select{
    margin-top: 0;
    border-radius: 15px;
    /* text-align: center; */
}
.step-1 form .custom-select,.step-2 form .custom-select{
    text-align: center;
    padding-left: 40% ;
}

.step-2 .recipient{
    display: flex;
    margin-top: 40px;
}
.step-2 .recipient .radio-text{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
    margin-left: 10px;
}
.step-2 .recipient .radio-text label{
    font-size: 1rem;
}
.step-2 .form-control{
    margin: 0;
}

.radio-text label{
    font-size: 1.5rem ;
}
em{
    color:red;
}
.step-3{
    margin-top: 35px;
    border: 1px solid black;
    border-radius: 35px;
    padding-bottom: 35px;
    margin-bottom: 35px;
}

.shap_list{
    width: 100%;
    padding-bottom: 50px;
}
.shap_list ul{
    display: flex;
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid black;
    border-radius: 35px 35px 0 0;
    justify-content: space-around;
    margin-bottom: 50px;
}
.shap_list ul li{
    margin: 15px 0;
}
.shap_list_border{
    margin: 20px;
}

.shap_list_main {
    border: 1px solid black;
    border-radius: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 50px;
    height: 100px;
}


.shap_list_main img{
    width: 85px;
    height: 85px;
}
.shap_list_main h4{
    width: 280px;
    overflow: hidden;
    color: #8e8e8e;
    margin-left: 20px;
    text-align: center;
}
.shap_list_main h5{
    width: 150px;
}
.shap_list_main .count_box{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin-right: 40px;
}
.shap_list_main .count_box div{
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.shap_list_main .count{
    width: 60px;
    border: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.shap_list_main .money{
    display: flex;
    /* padding-left: 20px; */
}
.shap_list_main input{
    width: 150px;
    /* text-align: center; */
    border: none;
    padding: 0;
    margin: 0;
}
.shap_list_main p{
    font-weight: 800;
    margin: 0;
}
.add_shop{
    width: 250px;
    border-radius: 35px;
    background-color: #3e3e3e;
    color: #fff;
    text-align: center;
    margin-left: 2%;
}
.add_shop_only {
    width: 70%;
    border: 1px solid black;
    border-radius: 35px;
    padding:0 20px 20px 20px;
    text-align: center;
}
.add_shop_only .add_shop_only_text{
    background-color: #1c1c1c;
    border-radius: 35px;
    margin-left: -10px;
    width: 220px;
    color:white;
    text-align: center;
}
.add_shop_only .add_shop_only_once{
    width: 200px;
    text-align: center;
}
.add_shop_only .add_shop_only_once img{
    width: 85px;
    height: 85px;
}
.add_shop_only .add_shop_only_once a{
    letter-spacing: 5px;
    width: 150px;
    border-radius: 10px;
    background-color: #8e8e8e;
    margin: 0 auto;
    color: white;
    transition: .5s;
}
.add_shop_only .add_shop_only_once a:hover{
    background-color: #1c1c1c;
}

.total_price{
    width: 30%;
    border: 1px solid black;
    border-radius: 35px;
    box-shadow: 0 3px 6px black;
    margin-left: 20px;
}



.total_price div:nth-child(2){
    border-top: 2px solid #ff3535;
}










.custom-control-input:checked~.custom-control-label::before{
    color: #fff;
    border-color: #ffa800;
    background-color: #ffa800;
}
.delivery-main{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-left: 10% ;
}
.p-time{
    display: flex;
    justify-content: flex-start;
    
}
.p-time .p-time-title{
    margin-right: 50px ;
    font-size: 1.5rem ;
    width: 25%;
    text-align: left;
}
.p-time-area{
    text-align: left;
}
.p-time .p-time-area div:nth-child(1),.p-time .p-time-area div:nth-child(2){
    width: 40%;
    
}
.p-time .p-time-area div:nth-child(3){
    width: 100%;
    margin-top: 1rem;
}
.pay-style{
    padding-left: 10% ;
}
.pay-style .visa{
    border:1px solid #ccc;
    width: 180px;
    border-radius: 10px;
    margin:0 40px 0 0;
}