
.table-l{
    position: relative;
}
.table{
    padding: 0;
    margin: 40px  0 0 70px;
    width: 700px;
    height: 420px;
    position: relative;
}
.table img{
    width: 100%;
    height: 100%;
}
.grade{
    position: absolute; 
    left:-42px;
    top:40px;
}
.grade li{
    position: relative;
    margin: 10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #000046 transparent;
    filter: drop-shadow(0 3px 6px black) ;
    transition: .5s;
}
.grade li a{
    font-size: 24px;
    color: white !important;
    display: block;
    position: absolute;
    left: -72px;
    top:12px;
    width: 150px;
    height: 32px;
    letter-spacing: 18px;
    cursor: pointer;
    
}
.grade li a i{
    margin-left: -8px;
}
.grade li:hover{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 50px 50px;
    border-color: transparent transparent #FFB11B transparent;
}
.grade li:hover a{
    font-weight: 700;
}
/* --------------------------------------- */
.camera_BP{
    width: 180px;
    height: 180px;
    /* padding: 30px; */
    /* background-color: pink; */
    position: absolute;
    top: 50px;
    left: 100px;
}
.camera_Intro{
    width: 290px;
    height: 140px;
    /* background-color: orange; */
    position: absolute;
    top: 65px;
    left: 350px;
}
.camera_Intro h5{
    color: white;
    font-size: 1rem;
    margin-bottom: 5px;
}
.camera_Intro h6{
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: #C1C1C1;
    font-size: .6rem;
    margin-bottom: 1px;
    line-height: 20px;
}
.camera_Intro p{
    font-size: .8rem;
    color: #FFB11B;
    margin-bottom: 0;

}
.camera_Intro p,.lens_Intro p,.tools1_Intro p{
    font-weight: 600;
}
.lens_BP{
    width: 140px;
    height: 140px;
    /* background-color:pink; */
    position: absolute;
    top: 230px;
    left: 50px;
}

.lens_Intro{
    width: 150px;
    height: 100px;
    /* background-color: orange; */
    position: absolute;
    top:250px;
    left:210px;
    z-index: 2;
}
.lens_Intro h6{
    color:white;
    width: 170px;
    font-size: .8rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.lens_Intro p{
    font-size: .8rem;
    color: #FFB11B;
    margin-bottom: 0;

}

.tools1_BP{
    width: 120px;
    height: 120px;
    /* background-color:pink; */
    position: absolute;
    top: 240px;
    left:375px;
    z-index: 1;
}
.tools1_Intro{
    width: 160px;
    height: 100px;
    /* background-color:orange; */
    position: absolute;
    top:247px;
    left:500px;
}
.tools1_Intro h6{
    color:white;
    width: 160px;
    font-size: .8rem;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.tools1_Intro p{
    font-size: .8rem;
    color: #FFB11B;
    margin-bottom: 0;
}
.redo i{
    color:white;
    cursor: pointer;
    width: 30px;
    position: absolute;
    top:20px;
    right: 20px;
    filter: drop-shadow(0 1px 2px black) ;
    transition: .1s;
}
.redo:hover i{
    font-size: 20px;
}
@media screen and (max-width:1200px){
    .table{
        width: 500px;
        height: 420px;
    }

    .camera_BP{
        width: 165px;
        height: 165px;
        top: 10px;
        left: 70px;
    }
    .camera_Intro{
        width: 175px;
        height: 100px;

        top: 50px;
        left: 250px;
    }
    .camera_Intro h6{
        font-size: 0.8rem;
    }
    .lens_BP{
        width: 115px;
        height: 115px;
        top: 270px;
        left: 40px;
    }
    
    .lens_Intro{
        width: 85px;
        height: 70px;
        top:280px;
        left:165px;
    }
    .lens_Intro h6{
        
        width: 90px;
        font-size: 0.8rem;

    }
    .tools1_BP{
        width: 115px;
        height: 115px;
        top: 270px;
        left:270px;
    }
    .tools1_Intro{
        width: 85px;
        height: 70px;
        top: 280px;
        left:390px;
    }
    .tools1_Intro h6{
        
        width: 90px;
        font-size: 0.8rem;
    }
}
@media screen and (max-width:992px){
    .diy_show_desktop{
        display:none;
    }
}

/* ----------- */

.choose h4{
    font-size: 1rem;
    margin-top: 2px;
}
.choose .step span{
    font-size: 1rem;
}



.diy_show_mobile{
    
    /* min-height: calc(100vh - 130px); */
}
/* .diy_show_mobile .container{
    background:#F1F1F1;
    min-height: calc(100vh - 130px);
} */
.diy_show_mobile .container h2{
    padding-top: 24px;

}
.grade_m{
    justify-content: center;
}
.grade_m li a{
    display: block;
    width: 75px;
    padding: 2px 5px;
    margin: 0 20px;
    font-size: 1.5rem;
    border:1px solid #C1C1C1;
    background-color: #F1F1F1;
    letter-spacing: 7px;
}

@media screen and (min-width:992px){
    .diy_show_mobile{
        display:none;
    }
}

/* --------------------- */

.table-r{
    position: absolute;
    width: 300px;
    height: 420px;
    /* background-color: #F1F1F1; */
    background: linear-gradient(0deg, rgba(255, 255, 255, 1)30%, rgba(150, 150, 150, 1)30%); 
    border-radius: 10px;
    top: 0;
    right: 0;
}

.table-r .comm,.table-r .comm1,.table-r .comm2{
    width: 100%;
    margin:0;
    padding: 0 20px;
}
.table-r .comm{
    margin-top: 40px;
}
.table-r .comm figure,.table-r .comm1 figure,.table-r .comm2 figure{
    width: 20%;
    height: 20%;
    overflow: hidden;
}
.table-r .comm figure img,.table-r .comm1 figure img,.table-r .comm2 figure img{
    width: 100%;
    height: 100%;
}
.table-r .comm h6,.table-r .comm1 h6,.table-r .comm2 h6{
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .8rem;
}
.table-r .comm p,.table-r .comm1 p,.table-r .comm2 p{
    border: 1px solid #C1C1C1;
    color: #C1C1C1;
    /* border-radius: 50%; */
    
}
.table-r .comm a,.table-r .comm1 a,.table-r .comm2 a{
   width: 10%;
    
}
.table-r .remove {
    margin-bottom: 10px;
}

.totalMoney{
    position: absolute;
    align-items:flex-end;
    height: 60px;
    left: 100px;
    bottom: 70px;
}
.totalMoney h6{
    font-size: .8rem;
}

.totalMoney input{
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    line-height: 1.2rem;
    font-size: .8rem;
    width: 40%;
    padding:0 10px 0 0;
    margin-bottom: .35rem;
    text-align: right;
}
.diyBtn{
    position: absolute;
    justify-content: space-evenly;
    align-items:flex-end;
    height: 60px;
    bottom: 20px;
    width: 100%;
    
}
.diyBtn .enterCar{
    background-color: #F1F1F1;
    color:black;
    font-size: .8rem;
    padding:4px 10px;
    /* border: 1px solid #E1E1E1; */
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    border-radius: 5px;
    transition:all .3s;
    /* margin: 0 10px; */
}
.diyBtn .payMoney{
    background-color: #F1F1F1;
    color:black;
    font-size: .8rem;
    padding: 4px 18px;
    /* border: 1px solid #E1E1E1; */
    box-shadow: 0 2px 3px rgba(0,0,0,.3);
    border-radius: 5px;
    transition:all .3s;
    /* margin: 0 10px; */
}
.diyBtn .enterCar:hover{
    box-shadow: 0 3px 4px rgba(0,0,0,.5);
    transform: translate(0,-1px);
    background-color: #dddddd;
    font-weight: 400;
}
.diyBtn .payMoney:hover{
    box-shadow: 0 3px 4px rgba(0,0,0,.5);
    transform: translate(0,-1px);
    background-color: #dddddd;
    font-weight: 400;
}


input[type="number"]{
    border: 0;
    border-bottom: 1px solid #ccc;
    background-color: transparent;
    line-height: 1.5rem;
    font-size: 1.5rem;
    width: 120px;
    padding:0 10px 0 0;
    margin-bottom: .35rem;
    text-align: right;
}


/* ------------------- */
.enterCar_m ,.payMoney_m{
    width: 90%;
    font-size: 1.5rem;
    border-radius: 2px;
    padding: 5px;
    background: #8a8a8a;
    border: #c1c1c1;
    color: #fff;
    margin: 10px;

}
.enterCar_m{
    margin-top: 30px;
}
.payMoney_m{
    margin-bottom: 30px;
}
@media screen and (max-width:992px){
    input[type="number"]{
        border: 0;
        border-bottom: 1px solid #ccc;
        background-color: transparent;
        width: 20%;
        padding:0 5px 0 5px;
        
        text-align: left;
    }
    
    .diy_show_mobile .container h2 {
        color: #fff;
    }
    .grade_m li a{
        font-size: 1rem;
        text-align: center;
        padding: 5px 20px;
        width: 100%;
        color: #1c1c1c;
    }
    .fa-caret-down:before {
        color: #fff;
        /* display: none;  */
        opacity: 0;
    }
}
@media screen and (max-width:578px){
    input[type="number"]{
        height: 2rem;
        width: 40%;
        /* padding: 16px 5px; */
        margin: 14px 0 -8px 10px;
        text-align: right;
    }
}


/* ------------------------------------ */
section.container{
    width: 815px;
    color: white;
    font-size: 1.5rem;
}
section .choose{
    padding-top:25px; 
    display: flex;
    justify-content: space-between;
    position: relative;
}

section .choose .display{
    /* display: none; */
    opacity: 0;
}


section .choose .step{
    font-size: 1rem;
    cursor: pointer;
}
.arrow{
    width: 100%;
    /* height: 18vh; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.arrow span{
    z-index: 5;
}

/* --------------------- */

.thumbnail figure{
    width: 145px;
    height: 145px;
    border:2px solid transparent;
    margin: 4px 18px;
    float: left;
}
/* .thumbnail.view{
    position: absolute;
    display: block;
    opacity: 1;
} */
.thumbnail figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.thumbnail .active{
    /* border-color: red; */
}

/* -------------------------------- */

.flow {
    width: 100%;
    height: 200px;
    overflow: hidden ;
}

.overflow-wrapper-x {
    float: left;
    width: 300%;
    /* height: 600px; */
    transition: .5s;
    transform: translateX(0px) translateY(0px);
}

.overflow-wrapper-x .tab{
    float: left;
    padding: 20px ;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.overflow-wrapper-x.show-item1 {
    transition: .5s;
    transform: translateX(0px) ;
  }

.overflow-wrapper-x.show-item2 {
    transition: .5s;
    transform: translateX(-723px) ;
  }
.overflow-wrapper-x.show-item3 {
    transition: .5s;
    transform: translateX(-1446px);

  }

.overflow-wrapper-y {
    float: left;
    width: 100%;
    height: 600px;
    transition: .5s;
    transform: translateX(0px) translateY(0px);
}

.overflow-wrapper-y.show-step1 {
    transition: .5s;
    transform: translateX(0px) translateY(0px);
}

.overflow-wrapper-y.show-step2 {
    transition: .5s;
    transform: translateX(0px) translateY(-360px);
}

.overflow-wrapper-y.show-step3 {
    transition: .5s;
    transform: translateX(0px) translateY(-895px);
}
/* -------------------------- */
.choose_m{
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
}
.choose_camera_m,.choose_lens_m,.choose_tools_m{
    border:1px solid #D1D1D1;
    width: 90%;
    height: 65px;
    margin: 10px;
    border-radius: 10px;
}
.choose_m>div{
    margin: 10px 0;
}

@media screen and (max-width:992px){
    .choose_m{
        margin-top: 20px;
        background: #fff;
        border-radius: 5px;
    }

    .total{
        width: 100%;
        text-align: right;
        justify-content: flex-end;
        padding-right: 5%;
    }
    .total p{
        border-bottom: 1px solid black;
        font-weight: 500;
        
    }
}



