/* ----------PRODUCT LIST---------- */

.prd_filter{
    background-color: #FCFAF2;
    height: 120px;  
}
.filte{
    width: 100%;
    display: flex;
    margin-left: 2%;
    padding: 1.5%;
}
.form-group{
    width: 200px;
    margin: 0 auto;
}
.form-group label{
    margin: 0;
}
.prbar{
    margin: 0 auto;
    padding: 0 auto;
}
.pl_brand{
    margin-left:3%;
}
.pl_camera{
    margin-left:3%;
}
.pl_lens{
    margin-left:3%;

}
.pl_parts{
    margin-left:3%;
}
.filter_btn{
    margin-left:3%;
    border-radius: 10%;
    padding-top:5%;
}
.ftbn{
    padding:0 15px;
    font-size: 0.8rem;
}

/* BANNER */
.pl-ban img{
    width: 100%;
}
.range-slider {
    position: relative;
    width: 200px;
    height: 35px;
    text-align: center;
}

.range-slider input {
    pointer-events: none;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 15px;
    width: 200px;
    outline: none;
    height: 18px;
    margin: 0;
    padding: 0;
}

.range-slider input::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
}

.range-slider input::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 9px;
}

.range-slider input::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: rgba(0, 0, 0, 1);
    border: 0;
}

.range-slider input:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0;
}

.range-slider input[type=range]::-moz-focus-outer {
  border: 0;
}

.rangeValue {
	width: 30px;
}

.output {
  position: absolute;
  /* border:1px solid #999; */
  width: 60px;
  height: 30px;
  text-align: center;
  color: #999;
  border-radius: 4px;
  display: inline-block;
  font: bold 15px/30px Helvetica, Arial;
  bottom: -100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.output.outputTwo {
	left: 100%;
}

/* .container {
  position: absolute;
  top: 10%;
  left: 10%;
  -webkit-transform: translate(-10%, -10%);
          transform: translate(-10%, -10%);
} */

input[type=range] {
  -webkit-appearance: none;
  background: none;
}

input[type=range]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 3px;
  background: transparent;
}

input[type=range]::-ms-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-moz-range-track {
  height: 5px;
  background: transparent;
  border: none;
  border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-ms-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #555;
  margin-top: -5px;
  position: relative;
  z-index: 10000;
}

input[type=range]:focus {
  outline: none;
}

.full-range,
.incl-range {
	width: 100%;
	height: 5px;
	left: 0;
	top: 21px;
	position: absolute;
	background: #DDD;
}

.incl-range {
	background: gold;
}
/* 交角比較 */
.compare{
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: #FFB11B;
    width: 75px;
    height: 75px;
    border-radius:0 0 15px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px 5px 0;
    font-size: .8rem;
    font-weight: 900;
}

/* product list */

.prd_list{
    width: 100%;
    margin: 5% auto;
    padding: 4%;
}
.prd_cards{
    width: 23%;
    min-height: 475px;
    border-radius: 5%;
    margin: 1%;
    padding: 2%;
    position: relative;
    transition:all .5s;
    box-sizing: border-box;
    /* flex-wrap: wrap; */

}
.prd_cards:hover{
    box-shadow: 0px 10px 10px rgba(000, 000, 000, .1);
    transform: translate(0,-5px);

}
.prd_pic {
    width: 100%;
    /* height: 200px; */
    background-color: black;
    overflow: hidden;
}
.prd_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prd_cards li{
    margin-left: 10%;
    font-size: 0.7rem;
    list-style: disc;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}
.prd_cards h6{
    text-align: center;
    margin: 5% 0;
    /* width: 250px; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.prd_cards p{
    position: absolute;
    bottom: 5px;
    left: 15%;
    font-weight:bold;
    font-size: 0.9rem;
    color: #000046;
    border-top: 1px solid #999;
    width: 70%;
    padding-top: 15px;
}

.next,.prev{
    cursor: pointer;
}
/* ----------PRODUCT LIST END---------- */





/* ----------PRODUCT PAGE----------*/

/* 品名介紹 */
.prdtop{
    background-color: #F1F1F1;
}
/* 產品照 */    
.prdpic{
    width: 50%;
    background-color: black;
    overflow: hidden;
    margin: 5%;
    margin-bottom: 2%;
    text-align: center;
}
.prdpic img{
    width: 100%;
}
/* 產品名 */  
.prd_introduct{
    width: 50%;
    margin: 5%;
    margin-bottom: 2%;
}
.prd_introduct h1{
    color:#8a8a8a;
}
.prd_introduct h6{
    color:#8a8a8a;
}
.prd_introduct p{
    line-height: 40px;
    font-size: .8rem;
}
.prdprice{
    margin-left:53%;
}
.prdprice h6{
    margin-right:3%;
    margin-top: 2%;
    font-size: .8rem;
}
/* 四個按鈕 */
.prd_btn{
    margin-left: 57%;
    margin-bottom: 3%;
}
.prd_comparison{
    width: 100px;
    height: 30px;
    margin-right: 2%;
    font-size: .8rem;
    padding-top: 4px  ;
    box-shadow: 0 2px 2px #aaa;
}
.prd_collection{
    width: 100px;
    height: 30px;
    margin-right: 2%;
    font-size: .8rem;
    padding-top: 4px ;
    box-shadow: 0 2px 2px #aaa;
}
.prd_collection i{
    margin-right: 5%;
}

/* 數量增減鈕*/
.quantity {
    display: flex;
    margin-right: 2%;
}  
.quantity button {
    width: 25px;
    height: 30px;
    padding: 0 1px;
    border: solid 1px gray;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 2px #aaa;

}      
.quantity .down {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}    
.quantity .up {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.quantity input {
    padding: 0 5px;
    width: 50px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    border: solid 1px gray;
    text-align: center;
    box-shadow: 0 2px 2px #aaa;

}
/* 數量增減鈕 END*/

.prd_car{
    width: 100px;
    height: 30px;
    font-size: .8rem;
    padding-top: 4px  ;
    margin-right: 2%;
    padding: 4px 5px 7px 5px;
    box-shadow: 0 2px 2px #aaa;

}
.prd_specification{
    margin:0 5%;
    padding: 3% 0;
}
.prd_specification li{
    font-size: 0.8rem;
    list-style: disc;
}
.specification_left{
    width: 50%;
    margin: 2%;
    margin-top: 0;
}
.specification_right{
    width: 50%;
    margin: 2%;
    margin-top: 0;
}


/* 詳細規格 */
.prd_dtlspec{
    background-color: #8A8A8A;
    width: 100%;
    height: 350px;
}
.dtlspec{
    background-color: #444444;
    width: 90%;
    height: 350px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
}
.dtlspec h4{
    text-align: center;
    font-weight: bold;
    color: #DDD;
    padding: 2% 0;
}

/* 產品特色 */
.prd_characteristic{
    background-color: #E1E1E1;
    width: 100%;
    padding: 3%
}
.prd_characteristic h4{
    text-align: center;
    font-weight: bold;
    color: #444;
    margin-bottom: 2%;
}
.prd_charpic{
    text-align: center;
    padding-left: 3%;
}

/* 下半部 */
.prddown{
    background-color: #F1F1F1;
}
/* 附件 */
.annex{
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}
.annex h4{
    font-weight: bold;
}
.prd_annex{
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 10px;
    padding: 2%;
}
.prd_annex img{
    width: 40%;
    margin-right: 5%;
}
.prd_annex li{
    font-size: .8rem;
    list-style: disc;
}
/* 實測 */
.prd_text{
    width: 90%;
    margin: 0 auto;
    padding: 5% 0;
}
.prd_text h4{
    font-weight: bold;
}
.tcs{
    background-color: #fff;
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
    width: 30%;
    transition:all .5s;
}
.tcs:hover{
    box-shadow: 0 0 10px #ccc;
    transform: translate(0,-5px);
}
.tcs img{
    width: 100%;
    margin-bottom: 2%;
    box-shadow: 0 0 5px #999;
}
.tcs h6{
    font-weight: bold;
}
.tcs p{
    text-align: right;
    font-size: .8rem;
}
.tcs li{
    font-size: .8rem;
}












/* ----------PRODUCT PAGE END----------*/