.prd_filter{
    background-color: #FCFAF2;
    height: 120px;  
}
.filte{
    width: 100%;
    display: flex;
    margin-left: 2%;
    padding: 1.5%;
}
.form-group{
    width: 200px;
    margin: 0 auto;
}
.form-group label{
    margin: 0;
}
.prbar{
    margin: 0 auto;
    padding: 0 auto;
}
.pl_brand{
    margin-left:3%;
}
.pl_camera{
    margin-left:3%;
}
.pl_lens{
    margin-left:3%;

}
.pl_parts{
    margin-left:3%;
}
.filter_btn{
    margin-left:3%;
    border-radius: 10%;
    padding-top:5%;
}
.ftbn{
    padding:0 15px;
    font-size: 0.8rem;
}

/* BANNER */
.pl-ban img{
    width: 100%;
}

/* 交角比較 */
.compare{
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
    background-color: #FFB11B;
    width: 75px;
    height: 75px;
    border-radius:0 0 15px 0;
    position: absolute;
    right: 0;
    bottom: 0;
    color: black;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 10px 5px 0;
    font-size: .8rem;
    font-weight: 900;
}

/* product list */

.prd_list{
    width: 100%;
    margin: 5% auto;
    padding: 4%;
}
.prd_cards{
    width: 25%;
    min-height: 475px;
    border-radius: 5%;
    margin: 1%;
    padding: 2%;
    position: relative;
    transition:all .5s;
    flex-wrap: wrap;

}
.prd_cards:hover{
    box-shadow: 0px 10px 10px rgba(000, 000, 000, .1);
    transform: translate(0,-5px);

}
.prd_pic {
    width: 200px;
    height: 200px;
    background-color: black;
    overflow: hidden;
}
.prd_pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.prd_cards li{
    margin-left: 10%;
    font-size: 0.7rem;
    list-style: disc;
}
.prd_cards h6{
    text-align: center;
    margin: 5% 0;
}
.prd_cards p{
    font-weight:bold;
    font-size: 0.9rem;
    color: #000046;
}

#more {display: none;}

#morebtn{
    width: 60px;
    text-align: center;
    margin-top:2%;
    margin-left: 93%;
    border: 1px solid gray;
    color: gray;
}
#morebtn:hover{
    border: 1px solid black;
    color: black;
}