.index_nav{
    height: 105px;
}
.index_nav ul li {
    margin-left: 30px;
}
.index_nav ul li a{
   color: white;
}
.index_nav ul li a:hover{
    color: #FFB11B;
 }
.index_nav .logo{
    height: 72px;
    margin-left: 0;
}
.right_top{
    width: 100%;
}
.nar_right{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
.index_view1{
    /* position: relative; */
    height: 1000px;
}
.main_big_pic{
    width: 50vw;
    height: 1000px;
    overflow: hidden;
    /* transition: opacity 1s ease-in-out; */
    position: relative;
    
}
.main_big_pic figure img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.main_big_pic .none{
    opacity: 0;
}
.orange_border_box{
    width: 35vw;
    height: 800px;
    border-left:1px solid #FFB11B;
    border-bottom: 1px solid #FFB11B;
    top:0px;
    right: 0px;
    position: absolute;
}
.mondel_text{
    width: 75%;
    height: 400px;
    border:1px solid white;
    position: absolute;
    top:475px;
    left: 425px;
}
.mondel_text ul{
    width: 45%;
    text-align: right;
}
.mondel_text ul li{
    font-size: 60px;
    color: rgba(255,255,255,.5);
}
.mondel_text ul li.active{
    font-size:80px;
    color: #fff;
}
.small-pic figure{
    width: 190px;
    height: 500px;
    overflow: hidden;
    position: absolute;
    transition: .5s;
    filter: blur(2px) brightness(.7);
    background: linear-gradient(to top,black,black);
    /* border-radius: 50%; */
}
.small-pic figure img{
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.small-pic figure:hover {
    filter: blur(0);
    transform: translateY(-5px) scale(1.1);
    box-shadow: 0px 15px 20px black;
    z-index: 20;
    /* border-radius: 0; */
}
.small-pic figure .none{
    /* display: none; */
    opacity: 0;
}
.small-pic figure:first-child{
    top: 285px;
    right: 610px;
}
.small-pic  figure:nth-child(2){
    top:190px;
    right: 410px;
}
.small-pic  figure:nth-child(3){
    top:350px;
    right: 210px;
}
.small-pic  figure:nth-child(4){
    top: 285px;
    right:10px;
}

main{
    background-color: #1c1c1c;
    height: 100vh;
}
main h2{
    margin-top: 50px;
    color: #FFB11B;
    margin-left: 35%;
}
main h3{
    color: #FFB11B;
    margin-left: 45%;
}
main .main_bg{
    background-color: #404040;
    height: 680px;
}
main .main_bg .corner{
    width: 1000px;
    height: 800px;
    position: relative;
    left: calc(50% - 500px);
    top:-60px;
}
main .main_bg .corner figure{
    width: 200px;
    height: 200px;
}
main .main_bg .corner figure:nth-child(1){
    position: absolute;
}
main .main_bg .corner figure:nth-child(2){
    position: absolute;
    transform: rotate(90deg);
    right: 0;
    top: 0;
}
main .main_bg .corner figure:nth-child(3){
    position: absolute;
    transform: rotate(180deg);
    right: 0;
    bottom: 0;  
    z-index: 5;
}
main .main_bg .corner figure:nth-child(4){
    position: absolute;
    transform: rotate(270deg);
    left: 0;
    bottom: 0;
    z-index: 5;
}

main .main_bg .corner .diy_map img:nth-child(1){
    position: absolute;
    bottom: 110px;
    left: calc(50% - 300px);
    
}
main .main_bg .corner .diy_map img:nth-child(2){
    position: absolute;
    bottom: 160px;
    left: 120px;
}
main .main_bg .corner .diy_map img:nth-child(3){
    position: absolute;
    bottom: 20px;
    left: 50px;
}
.brand_map_bg{
    background-image:url('../img/three-bg.jpg');
    background-repeat: no-repeat;
    height: 130vh;
    margin-top: -150px;
    overflow: hidden;
    position: relative;
}
.brand_map_bg .brand_map{
    height: 120vh;
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
    margin-left: 15%;
    position: relative;
    top: 140px;
}
.brand_map_bg .brand_map figure:nth-child(1) img:nth-child(1){
    position: absolute;
    top:5%;
    left: 5%;
}
.brand_map_bg .brand_map figure:nth-child(1) img:nth-child(2){
    position: absolute;
    top:2%;
    left: 8%;
}
.brand_map_bg .brand_map figure:nth-child(2) img:nth-child(1){
    position: absolute;
    top: 30%;
    right: 10%;
}
.brand_map_bg .brand_map figure:nth-child(2) img:nth-child(2){
    position: absolute;
    top: 33%;
    right: 12%;
}
.brand_map_bg .brand_map figure:nth-child(3) img:nth-child(1){
    position: absolute;
    top: 60%;
    left: 5%;
}
.brand_map_bg .brand_map figure:nth-child(3) img:nth-child(2){
    position: absolute;
    top: 60%;
    left: 8%;
}
.brand_map_bg  .line_yellow{
    position: absolute;
    height: 120vh;
    border-right: 2px solid #FFB11B;
    border-bottom:2px solid #FFB11B;
    width: 95vw;
    top: 0;
}
.four_bg{
    background: #404040;
    height: 400px;
}
.four_bg .container{
    align-items: center;
    display: flex;
}
.four_bg .container div{
    position: relative;
    width: 25%;
    height: 25%;
    transition: .5s;
}
.four_bg img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: .5s;
}
.botton_bg{
    height: 340px;
    overflow: hidden;
}
.four_bg p{
    display: none;
    opacity: 0;
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
    color:white;
    border: 1px solid white;
    text-align: center;
    padding: 10px 0;
    transition: .5s;
    
}
.four_bg div:hover > p{
    display: block;
    opacity: 1;
}
.four_bg div:hover > img{
    filter: brightness(30%);
}