*{
    box-sizing: border-box;
}
li{
    list-style-type: none;
}
a{
    display: block;
}
ul{
    padding: 0;
    margin: 0;
}
a:hover{
    text-decoration:none;
    color:#FFB11B;
}
.container{
    width: 1140px;
}
header{
    height: 80px;
    background-color: #1C1C1C;
    /* padding-top:20px;  */
}
.logo a img{
    padding-top: 16px;
    height: 75px;
}
.features{
    display: flex;
    flex-direction:row;
}
.features img{
    filter: white;
}
.features a:hover img{
    filter:#FFB11B;
    transform: scale(1.1);
}
nav{
    background-color: #444;
    height: 30px;
    line-height: 26px; 
} 
nav>.container{
    padding: 0;
}
nav a{
    color:white;
    font-size: 16px;
}
.nav-l a{
    padding-right:20px;
}
.nav-r a{
    padding-left:20px;
}



footer{
    width: 100%;
    height: 80px;
    background-color: #444;
    position: absolute;
    bottom: 0;
    text-align: left;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 0;
}
.foot-l>div{
    font-size: 12px;
    line-height:20px;
    height: 70px;
    padding-top: 10px;
    color: #8A8A8A;
}
.foot-r{
    padding-top: 10px;

}
.agent>img:first-child{
    padding: 0;
}
.agent img:nth-child(1){
    
    height: 30px;
}
.agent img:nth-child(2){
    padding-left: 30px;
    height: 20px;
    width: 100px;
}
.agent img:nth-child(3){
    padding-left: 30px;
    height: 20px;
    width: 120px;
}

.social{
    color: #8A8A8A;
    padding-top: 6px;
}
.social i{
    padding-right: 33px;
    cursor: pointer ;

}
.fa-facebook-f:hover{
    color:#4267b2;
}
.fa-instagram:hover{
    color:#E1306C;
}
.fa-line:hover{
    color:#00c300;
}
.fa-twitter:hover{
    color:#1DA1F2;
}
.fa-linkedin-in:hover{
    color:#0077B5;
}