.bg_mber{
    width: 100%;
    height: calc (100% - 70px);
    background: white;
}
.left_sec{
    width: 385px;
    height: 470px;
}
.circle_sec{
    margin: 0 auto;
    padding: 2%;
    /* justify-content: center; */
    border-bottom: 1px solid #bbb;
}
.circle_ckh img{
    width: 110px;
    height: 110px;
    border: 1px solid rgb(155, 155, 155);
    border-radius: 50%;
    background-size: cover;
}
.cirle_edit{
    width: 50%;
    margin: 2%;
    align-content: center;
    padding-top: 14%;
}
.cirle_edit li{
    margin: 0 10%;
}
.cirle_edit li a{
    letter-spacing: 2px;
    font-size: 1.1rem;
}
.left_list{
    width: 200px;
}
